{
  "printWidth": 80,
  "trailingComma": "es5",
  "useTabs": true,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "endOfLine": "auto"
}
